// Name and stats
$font-size: 1.8rem; // 18px

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/kumbh-sans-regular.woff2') format('woff2'),
        url('../fonts/kumbh-sans-regular.woff') format('woff'),
        url('../fonts/kumbh-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/kumbh-sans-bold.woff2') format('woff2'),
        url('../fonts/kumbh-sans-bold.woff') format('woff'),
        url('../fonts/kumbh-sans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


